.btn-master {
    border: 1px solid #A5C6DE;
    width: 215px;
    height: 38.23px;
    padding: 9px 38px;
    background-color: #FFFFFF;
    
    font-family: 'Roboto';
    font-size: 12px;
    display: inline-block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #6BA2CA;
    cursor: pointer;
    
    box-shadow: 4px 4px 0 2px white, 4px 4px 0 3px #A5C6DE;
}

