// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// font theme-2
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

// Quicksand
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

// Sacramento
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Sacramento&display=swap');

// Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Quicksand:wght@300&display=swap');


// Fonts
// theme-1
$dancing_script: 'Dancing Script', cursive;
$roboto: 'Roboto', sans-serif;

// theme-2
$great_vibes: 'Great Vibes', cursive;
$playfair: 'Playfair Display', serif;

// theme-6
$quicksand: 'Quicksand', sans-serif;

// theme-7
$theme7font: 'Quicksand', sans-serif;

// theme-8
$theme8font: 'Quicksand', sans-serif;

// theme-9
$theme9font: 'Quicksand', sans-serif;

// theme-10
$theme10font1: 'Playfair Display', serif;
$theme10font2: 'Sacramento', cursive;
$theme10font3: 'Poppins', sans-serif;

// Umum
$fourth-theme-1: #FFFFFF;
$fourth-theme-2: #FFFFFF;
$fourth-filter-theme-1: invert(99%) sepia(1%) saturate(266%) hue-rotate(237deg) brightness(117%) contrast(100%);
$fourth-filter-theme-2: invert(99%) sepia(1%) saturate(266%) hue-rotate(237deg) brightness(117%) contrast(100%);

// Text color
// Theme-1
$primary-theme-1: #B0D6F5;
$secondary-theme-1: #5DA4DC;
$third-theme-1: #666060;
$fourth-theme-1: #FFFFFF;
$primary-filter-theme-1: invert(86%) sepia(6%) saturate(1820%) hue-rotate(174deg) brightness(92%) contrast(88%);
$secondary-filter-theme-1: invert(73%) sepia(10%) saturate(1766%) hue-rotate(168deg) brightness(82%) contrast(92%);
$third-filter-theme-1: invert(35%) sepia(17%) saturate(97%) hue-rotate(314deg) brightness(99%) contrast(85%);
$fourth-filter-theme-1: invert(99%) sepia(1%) saturate(266%) hue-rotate(237deg) brightness(117%) contrast(100%);

// Theme-2
$primary-theme-2: #E3F9F2;
$secondary-theme-2: #077E5E;
$third-theme-2: #5A5A5A;
$fourth-theme-2: #FFFFFF;
$fifth-theme-2: #FCF8F4;
$primary-filter-theme-2: invert(97%) sepia(79%) saturate(235%) hue-rotate(67deg) brightness(101%) contrast(110%);
$secondary-filter-theme-2: invert(37%) sepia(14%) saturate(3688%) hue-rotate(122deg) brightness(94%) contrast(94%);
$third-filter-theme-2: invert(35%) sepia(17%) saturate(97%) hue-rotate(314deg) brightness(99%) contrast(85%);
$fourth-filter-theme-2: invert(99%) sepia(1%) saturate(266%) hue-rotate(237deg) brightness(117%) contrast(100%);

// Theme-3
$primary-theme-3: #231F20;
$secondary-theme-3: #8E793E;
$third-theme-3: #AD974F;
$fourth-theme-3: #EAEAEA;
$primary-filter-theme-3: invert(6%) sepia(2%) saturate(3413%) hue-rotate(295deg) brightness(95%) contrast(85%);
$secondary-filter-theme-3: invert(47%) sepia(34%) saturate(582%) hue-rotate(7deg) brightness(93%) contrast(92%);
$third-filter-theme-3: invert(68%) sepia(13%) saturate(1501%) hue-rotate(9deg) brightness(86%) contrast(85%);
$fourth-filter-theme-3: invert(99%) sepia(1%) saturate(9%) hue-rotate(86deg) brightness(114%) contrast(84%);

// Theme-4
$primary-theme-4: #FDF6EB;
$secondary-theme-4: #664229;
$third-theme-4: #987554;
$fourth-theme-4: #D2B48C;
$primary-filter-theme-4: invert(98%) sepia(80%) saturate(286%) hue-rotate(303deg) brightness(102%) contrast(98%);
$secondary-filter-theme-4: invert(25%) sepia(62%) saturate(406%) hue-rotate(342deg) brightness(92%) contrast(93%);
$third-filter-theme-4: invert(46%) sepia(34%) saturate(486%) hue-rotate(348deg) brightness(97%) contrast(84%);
$fourth-filter-theme-4: invert(80%) sepia(20%) saturate(502%) hue-rotate(354deg) brightness(89%) contrast(89%);

// Theme-5
$primary-theme-5: #FBE5F5;
$secondary-theme-5: #8D335C;
$third-theme-5: #D58CAF;
$primary-filter-theme-5: invert(87%) sepia(21%) saturate(239%) hue-rotate(287deg) brightness(105%) contrast(97%);
$secondary-filter-theme-5: invert(23%) sepia(54%) saturate(1044%) hue-rotate(287deg) brightness(99%) contrast(89%);
$third-filter-theme-5: invert(77%) sepia(6%) saturate(2924%) hue-rotate(291deg) brightness(84%) contrast(99%);

// Theme-6
$primary-theme-6: #F6E9E2;
$secondary-theme-6: #E9CBBB;
$third-theme-6: #92794F;
$fourth-theme-6: #54595F;

// Theme-7
$primary-theme-7: #7A7A7A;
$secondary-theme-7: #FFF;
// $third-theme-7: #92794F;
// $fourth-theme-7: #54595F;

// Theme-8
$primary-theme-8: #333333;
$secondary-theme-8: #DEBE9D;
// $third-theme-7: #92794F;
// $fourth-theme-7: #54595F;

// Theme-9
$primary-theme-9: #343F75;
$secondary-theme-9: #DEBE9D;

// Theme-10
$primary-theme-10: #a68f61;
$secondary-theme-10: #666;
$secondary-filter-theme-10: invert(35%) sepia(0%) saturate(641%) hue-rotate(180deg) brightness(109%) contrast(87%);