@import '../variables';
@import '../theme/theme-10';
@import '../theme/theme-11';

// Import only what you need from Bulma
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";

// MIXINS
@mixin themable ($theme-name, $theme-map){
    .#{$theme-name} {
        @if ($theme-name == theme-10) {
            .hero {
                background-color: #FFF;
            }
            .title {
                font-family: $theme10font2;
                color: $secondary-theme-10;
            }
            .subtitle {
                font-family: $theme10font3;
                color: $secondary-theme-10;
            }
            .icon{
                font-size: 3em !important;
            }
            .container {
                .button {
                    background-color: $primary-theme-10 !important;
                    color: #FFF;
                }
            }
        } @else if ($theme-name == theme-11) {
            .hero {
                background-color: $secondary-theme-11;
            }
            .title {
                font-family: $theme11font1;
                color: $primary-theme-11;
            }
            .subtitle {
                font-family: $theme11font2;
                color: $primary-theme-11;
            }
            .subtitle2 {
                font-family: $theme11font2;
                color: #000 !important;
            }
            .icon{
                font-size: 3em !important;
                color: $primary-theme-11 !important;
            }
            .container {
                .button {
                    background-color: $primary-theme-11 !important;
                    color: #000;
                }
            }
        }
    }
}

// Call for theme-10
@include themable(theme-10, $theme-10);

// Call for theme-11
@include themable(theme-11, $theme-11);
