@import '../variables';
@import '../theme/theme-1';
@import '../theme/theme-2';
@import '../theme/theme-3';
@import '../theme/theme-4';
@import '../theme/theme-5';
@import '../theme/theme-6';
@import '../theme/theme-7';
@import '../theme/theme-8';
@import '../theme/theme-9';


// Import only what you need from Bulma
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";

// MIXINS
@mixin themable ($theme-name, $theme-map){
    .#{$theme-name} {
        @if ($theme-name == theme-1) {
            .hero {
                background-color: $primary-theme-1;
            }
            .title2 {
                font-family: $dancing_script;
                color: $secondary-theme-1;
            }
            .subtitle2 {
                font-family: $roboto;
                color: $third-theme-1;
            }
            .subtitle3 {
                font-family: $roboto;
                color: $fourth-theme-1;
            }
            .filter{
                filter: $fourth-filter-theme-1;
            }
        } @else if ($theme-name == theme-2) {
            .hero {
                background-color: $primary-theme-2;
            }
            .title2 {
                font-family: $great_vibes;
                color: $secondary-theme-2;
            }
            .subtitle2 {
                font-family: $playfair;
                color: $third-theme-2;
            }
            .subtitle3 {
                font-family: $playfair;
                color: $secondary-theme-2;
            }
            .filter{
                filter: $secondary-filter-theme-2;
            }
        } @else if ($theme-name == theme-3) {
            .hero {
                background-color: $primary-theme-3;
            }
            .title2 {
                font-family: $great_vibes;
                color: $secondary-theme-3;
            }
            .subtitle2 {
                font-family: $playfair;
                color: $third-theme-3;
            }
            .subtitle3 {
                font-family: $playfair;
                color: $secondary-theme-3;
            }
            .filter{
                filter: $secondary-filter-theme-3;
            }
        } @else if ($theme-name == theme-4) {
            .hero {
                background-color: $primary-theme-4;
            }
            .title2 {
                font-family: $great_vibes;
                color: $secondary-theme-4;
            }
            .subtitle2 {
                font-family: $playfair;
                color: $third-theme-4;
            }
            .subtitle3 {
                font-family: $playfair;
                color: $secondary-theme-4;
            }
            .filter{
                filter: $secondary-filter-theme-4;
            }
        } @else if ($theme-name == theme-5) {
            .hero {
                background-color: $primary-theme-5;
            }
            .title2 {
                font-family: $great_vibes;
                color: $secondary-theme-5;
            }
            .subtitle2 {
                font-family: $playfair;
                color: $third-theme-5;
            }
            .subtitle3 {
                font-family: $playfair;
                color: $secondary-theme-5;
            }
            .filter{
                filter: $secondary-filter-theme-5;
            }
        } @else if ($theme-name == theme-6) {
            // .hero {
            //     background-color: $primary-theme-5;
            // }
            .subtitle2 {
                font-family: $quicksand;
                color: #FFF;
            }
            .subtitle3 {
                font-family: $quicksand;
                color: $primary-theme-6;
                font-weight: bold;
            }
            .low-opacity-bg-image {
                display: grid;
                position: relative;
                isolation: isolate;
                background-size: cover;
                background-position: center;
                object-fit: cover;
            }
            .low-opacity-bg-image::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: 0.4;
                background: #000;
            }
            .button {
                background-color: $third-theme-6;
                color: $primary-theme-6;
                border: solid $third-theme-6;
            }
        } @else if ($theme-name == theme-7) {
            // .hero {
            //     background-color: $primary-theme-5;
            // }
            .subtitle2 {
                font-family: $quicksand;
                color: #FFF;
            }
            .subtitle3 {
                font-family: $quicksand;
                color: $primary-theme-6;
                font-weight: bold;
            }
            .low-opacity-bg-image {
                display: grid;
                position: relative;
                isolation: isolate;
                background-size: cover;
                background-position: center;
                object-fit: cover;
            }
            .low-opacity-bg-image::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: 0.4;
                background: #000;
            }
            .button {
                background-color: $primary-theme-7;
                color: $secondary-theme-7;
                border: solid $primary-theme-7;
            }
        } @else if ($theme-name == theme-8) {
            // .hero {
            //     background-color: $primary-theme-5;
            // }
            .subtitle2 {
                font-family: $quicksand;
                color: #FFF;
            }
            .subtitle3 {
                font-family: $quicksand;
                color: $primary-theme-6;
                font-weight: bold;
            }
            .low-opacity-bg-image {
                display: grid;
                position: relative;
                isolation: isolate;
                background-size: cover;
                background-position: center;
                background-attachment: fixed;
                object-fit: cover;
            }
            .low-opacity-bg-image::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: 0.8;
                background: $primary-theme-8;
            }
            .button {
                background-color: transparent;
                color: #FFF;
                border: solid 1px #FFF;
            }
        } @else if ($theme-name == theme-9) {
            // .hero {
            //     background-color: $primary-theme-5;
            // }
            .subtitle2 {
                font-family: $quicksand;
                color: #FFF;
            }
            .subtitle3 {
                font-family: $quicksand;
                color: $primary-theme-6;
                font-weight: bold;
            }
            .low-opacity-bg-image {
                display: grid;
                position: relative;
                isolation: isolate;
                background-size: cover;
                background-position: center;
                background-attachment: fixed;
                object-fit: cover;
            }
            .low-opacity-bg-image::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: 0.8;
                background: $primary-theme-9;
            }
            .button {
                background-color: transparent;
                color: #FFF;
                border: solid 1px #FFF;
            }
        }
    }
}

// Call for theme-1
@include themable(theme-1, $theme-1);

// Call for theme-2
@include themable(theme-2, $theme-2);

// Call for theme-3
@include themable(theme-3, $theme-3);

// Call for theme-4
@include themable(theme-4, $theme-4);

// Call for theme-5
@include themable(theme-5, $theme-5);

// Call for theme-6
@include themable(theme-6, $theme-6);

// Call for theme-7
@include themable(theme-7, $theme-7);

// Call for theme-8
@include themable(theme-8, $theme-8);

// Call for theme-9
@include themable(theme-9, $theme-9);