@import '../variables';
@import '../theme/theme-1';
@import '../theme/theme-2';
@import '../theme/theme-3';
@import '../theme/theme-4';
@import '../theme/theme-5';
@import '../theme/theme-6';
@import '../theme/theme-7';
@import '../theme/theme-8';
@import '../theme/theme-9';
@import '../theme/theme-10';
@import '../theme/theme-11';

// Import only what you need from Bulma
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";

// MIXINS
@mixin themable ($theme-name, $theme-map){
    .#{$theme-name} {
        @if ($theme-name == theme-1) {
            .button2 {
                background-color: $secondary-theme-1;
            }
            .button1 {
                background-color: #FFF;
            }
            .notification2 {
                background-color: rgba($fourth-theme-1, 0.7);
            }
            .icon {
                color: $secondary-theme-1;
            }
        } @else if ($theme-name == theme-2) {
            .button2 {
                background-color: $secondary-theme-2;
            }
            .button1 {
                background-color: #FFF;
            }
            // .notification2 {
            //     background-color: $primary-theme-2;
            // }
            .icon {
                color: $secondary-theme-2;
            }
        } @else if ($theme-name == theme-3) {
            .button2 {
                background-color: $secondary-theme-3;
            }
            .button1 {
                background-color: #FFF;
            }
            // .notification2 {
            //     background-color: $primary-theme-3;
            // }
            .icon {
                color: $secondary-theme-3;
            }
        } @else if ($theme-name == theme-4) {
            .button2 {
                background-color: $secondary-theme-4;
            }
            .button1 {
                background-color: #FFF;
            }
            // .notification2 {
            //     background-color: $primary-theme-3;
            // }
            .icon {
                color: $secondary-theme-4;
            }
        } @else if ($theme-name == theme-5) {
            .button2 {
                background-color: $secondary-theme-5;
            }
            .button1 {
                background-color: #FFF;
            }
            // .notification2 {
            //     background-color: $primary-theme-3;
            // }
            .icon {
                color: $secondary-theme-5;
            }
        } @else if ($theme-name == theme-6) {
            .button2 {
                background-color: $third-theme-6;
            }
            .button1 {
                background-color: #FFF;
            }
            // .notification2 {
            //     background-color: $primary-theme-3;
            // }
            .icon {
                color: $third-theme-6;
            }
        }  @else if ($theme-name == theme-7) {
            .button2 {
                background-color: $primary-theme-7;
            }
            .button1 {
                background-color: #FFF;
            }
            // .notification2 {
            //     background-color: $primary-theme-3;
            // }
            .icon {
                color: $primary-theme-7;
            }
        } @else if ($theme-name == theme-8) {
            .button2 {
                background-color: $primary-theme-8;
            }
            .button1 {
                background-color: $primary-theme-8;
            }
            .icon {
                color: #FFF !important;
            }
            .notification2 {
                z-index: 2;
            }
        } @else if ($theme-name == theme-9) {
            .button2 {
                background-color: #FFF;
            }
            .button1 {
                background-color: #FFF;
            }
            .icon {
                color: $primary-theme-9 !important;
            }
            .notification2 {
                z-index: 2;
                background-color: #FFF;
            }
        } @else if ($theme-name == theme-10) {
            .button2 {
                background-color: #FFF;
                z-index: 3;
            }
            .button1 {
                background-color: #FFF;
                z-index: 3;
            }
            .icon {
                color: $primary-theme-10 !important;
            }
            .notification2 {
                z-index: 3;
                background-color: rgba(#FFF, 0.2);
            }
        } @else if ($theme-name == theme-11) {
            .button2 {
                background-color: #FFF;
                z-index: 3;
            }
            .button1 {
                background-color: #FFF;
                z-index: 3;
            }
            .icon {
                color: $secondary-theme-11 !important;
            }
            .notification2 {
                z-index: 3;
                background-color: rgba(#FFF, 0.2);
            }
        }
    }
}

// Call for theme-1
@include themable(theme-1, $theme-1);

// Call for theme-2
@include themable(theme-2, $theme-2);

// Call for theme-3
@include themable(theme-3, $theme-3);

// Call for theme-4
@include themable(theme-4, $theme-4);

// Call for theme-5
@include themable(theme-5, $theme-5);

// Call for theme-6
@include themable(theme-6, $theme-6);

// Call for theme-7
@include themable(theme-7, $theme-7);

// Call for theme-8
@include themable(theme-8, $theme-8);

// Call for theme-9
@include themable(theme-9, $theme-9);

// Call for theme-10
@include themable(theme-10, $theme-10);

// Call for theme-11
@include themable(theme-11, $theme-11);