@import '../variables';
@import '../theme/theme-1';
@import '../theme/theme-2';
@import '../theme/theme-3';
@import '../theme/theme-4';
@import '../theme/theme-5';
@import '../theme/theme-6';
@import '../theme/theme-7';

// Import only what you need from Bulma
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";

// MIXINS
@mixin themable ($theme-name, $theme-map){
    .low-opacity-bg-image {
        display: grid;
        position: relative;
        isolation: isolate;
        background-size: cover;
        background-position: center;
    }
    
    .#{$theme-name} {
        @if ($theme-name == theme-1) {
            .icon {
                color: $fourth-theme-1;
            }
            .title {
                font-family: $dancing_script;
                color: $fourth-theme-1;
            }
            .subtitle {
                font-family: $roboto;
                color: $fourth-theme-1;
            }
            .filter{
                filter: $fourth-filter-theme-1;
            }
            .low-opacity-bg-image::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: .5;
                background: $primary-theme-3;
            }
        } @else if ($theme-name == theme-2) {
            .icon {
                color: $secondary-theme-2;
            }
            .title {
                font-family: $great_vibes;
                color: $secondary-theme-2;
            }
            .subtitle {
                font-family: $playfair;
                color: $secondary-theme-2;
            }
            .filter{
                filter: $secondary-theme-2;
            }
            .low-opacity-bg-image::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: .6;
                background: $primary-theme-2;
            }
        } @else if ($theme-name == theme-3) {
            .icon {
                color: $secondary-theme-3;
            }
            .title {
                font-family: $great_vibes;
                color: $secondary-theme-3;
            }
            .subtitle {
                font-family: $playfair;
                color: $secondary-theme-3;
            }
            .filter{
                filter: $secondary-theme-3;
            }
            .low-opacity-bg-image::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: 0.5;
                background: $primary-theme-3;
            }
        } @else if ($theme-name == theme-4) {
            .icon {
                color: $secondary-theme-4;
            }
            .title {
                font-family: $great_vibes;
                color: $secondary-theme-4;
            }
            .subtitle {
                font-family: $playfair;
                color: $secondary-theme-4;
            }
            .filter{
                filter: $secondary-theme-4;
            }
            .low-opacity-bg-image::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: 0.5;
                background: $primary-theme-4;
            }
        } @else if ($theme-name == theme-5) {
            .icon {
                color: $secondary-theme-5;
            }
            .title {
                font-family: $great_vibes;
                color: $secondary-theme-5;
            }
            .subtitle {
                font-family: $playfair;
                color: $secondary-theme-5;
            }
            .filter{
                filter: $secondary-theme-5;
            }
            .low-opacity-bg-image::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: 0.5;
                background: $primary-theme-5;
            }
        } @else if ($theme-name == theme-6) {
            :deep(.title) {
                font-family: $playfair;
                color: $fourth-theme-1;
                position: absolute;
                z-index: 2;
                bottom: 40px;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            :deep(.subtitle1) {
                font-family: $playfair;
                color: $fourth-theme-1;
                position: absolute;
                z-index: 2;
                bottom: 210px;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            :deep(.subtitle2) {
                font-family: $playfair;
                color: $fourth-theme-1;
                position: absolute;
                z-index: 2;
                bottom: 80px;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            :deep(.low-opacity-bg-image) {
                display: grid;
                position: relative;
                isolation: isolate;
                background-size: cover;
                background-position: center;
            }
            :deep(.low-opacity-bg-image::after) {
                content: '';
                position: absolute;
                z-index: 1;
                inset: 0;
                opacity: 0.4;
                background: $primary-theme-3;
            }
        } @else if ($theme-name == theme-7) {
            :deep(.section) {
                position: absolute;
                z-index: 2;
                bottom: 20%;
                left: 50%;
                transform: translate(-50%, -50%);

                .title {
                    color: $fourth-theme-1;
                    font-family: $theme7font;

                }
                .subtitle1 {
                    color: $fourth-theme-1;
                    font-family: $theme7font;
                }
            }
            :deep(.low-opacity-bg-image) {
                display: grid;
                position: relative;
                isolation: isolate;
                background-size: cover;
                background-position: center;
            }
            :deep(.low-opacity-bg-image::after) {
                content: '';
                position: absolute;
                z-index: 1;
                inset: 0;
                opacity: 0.4;
                background: $primary-theme-3;
            }
        }
    }
}

// Call for theme-1
@include themable(theme-1, $theme-1);

// Call for theme-2
@include themable(theme-2, $theme-2);

// Call for theme-3
@include themable(theme-3, $theme-3);

// Call for theme-4
@include themable(theme-4, $theme-4);

// Call for theme-5
@include themable(theme-5, $theme-5);

// Call for theme-6
@include themable(theme-6, $theme-6);

// Call for theme-7
@include themable(theme-7, $theme-7);