@import '../variables';
@import '../theme/theme-1';
@import '../theme/theme-2';
@import '../theme/theme-3';


// Import only what you need from Bulma
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";

// MIXINS
@mixin themable ($theme-name, $theme-map){
    .low-opacity-bg-image {
        display: grid;
        position: relative;
        isolation: isolate;
        background-size: cover;
        background-position: center;
    }
    
    .#{$theme-name} {
        @if ($theme-name == theme-1) {
            .icon {
                color: $fourth-theme-1;
            }
            .title {
                font-family: $dancing_script;
                color: $fourth-theme-1;
            }
            .subtitle {
                font-family: $roboto;
                color: $fourth-theme-1;
            }
            .filter{
                filter: $fourth-filter-theme-1;
            }
            .low-opacity-bg-image::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: .5;
                background: $primary-theme-1;
            }
        } @else if ($theme-name == theme-2) {
            .icon {
                color: $secondary-theme-2;
            }
            .title {
                font-family: $great_vibes;
                color: $secondary-theme-2;
            }
            .subtitle {
                font-family: $playfair;
                color: $secondary-theme-2;
            }
            .filter{
                filter: $secondary-theme-2;
            }
            .low-opacity-bg-image::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: .6;
                background: $primary-theme-2;
            }
        } @else if ($theme-name == theme-3) {
            .icon {
                color: $secondary-theme-3;
            }
            .title {
                font-family: $great_vibes;
                color: $secondary-theme-3;
            }
            .subtitle {
                font-family: $playfair;
                color: $secondary-theme-3;
            }
            .filter{
                filter: $secondary-theme-3;
            }
            .low-opacity-bg-image::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: 0.5;
                background: $primary-theme-3;
            }
        }
    }
}

// Call for theme-1
@include themable(theme-1, $theme-1);

// Call for theme-2
@include themable(theme-2, $theme-2);

// Call for theme-3
@include themable(theme-3, $theme-3);
