@import '../variables';
@import '../theme/theme-1';
@import '../theme/theme-2';

// Import only what you need from Bulma
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";

// MIXINS
@mixin themable ($theme-name, $theme-map){
    :deep(.notification) {
        box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
    }
    .#{$theme-name} {
        @if ($theme-name == theme-1) {
            :deep(.product-container) {
                background-color: rgba($fourth-theme-1, 0.3);
            }
            :deep(.button) {
                color: $secondary-theme-1;
                border: 1px solid $primary-theme-1;
            }
            .hero {
                background-color: $primary-theme-1;
            }
            .title {
                font-family: $dancing_script;
                color: $secondary-theme-1;
            }
            .subtitle2 {
                font-family: $roboto;
                color: $fourth-theme-1;
            }
            .filter{
                filter: $fourth-filter-theme-1;
            }
            :deep(.box) {
                box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
                background-color: rgba($fourth-theme-1, 0.8);
            }
            
            .animation-area {
                width: 100%;
                height: 100vh;
            }
            .box-area {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
            .box-area li {
                position: absolute;
                display: block;
                list-style: none;
                width: 25px;
                height: 25px;
                background: rgba(255, 255, 255, 0.2);
                animation: animate 20s linear infinite;
                bottom: -150px;
            }
            .box-area li:nth-child(1) {
                left: 86%;
                width: 80px;
                height: 80px;
                animation-delay: 0s;
            }
            .box-area li:nth-child(2) {
                left: 12%;
                width: 30px;
                height: 30px;
                animation-delay: 1.5s;
                animation-duration: 10s;
            }
            .box-area li:nth-child(3) {
                left: 70%;
                width: 100px;
                height: 100px;
                animation-delay: 5.5s;
            }
            .box-area li:nth-child(4) {
                left: 42%;
                width: 150px;
                height: 150px;
                animation-delay: 0s;
                animation-duration: 15s;
            }
            .box-area li:nth-child(5) {
                left: 65%;
                width: 40px;
                height: 40px;
                animation-delay: 0s;
            }
            .box-area li:nth-child(6) {
                left: 15%;
                width: 110px;
                height: 110px;
                animation-delay: 3.5s;
            }
            @keyframes animate {
                0% {
                    transform: translateY(0) rotate(0deg);
                    opacity: 1;
                }
                100% {
                    transform: translateY(-800px) rotate(360deg);
                    opacity: 0;
                }
            }
        } @else if ($theme-name == theme-2) {
            :deep(.product-container) {
                background-color: rgba($secondary-theme-2, 0.3);
            }
            :deep(.button) {
                color: $secondary-theme-2;
                border: 1px solid $primary-theme-2;
            }
            .hero {
                background-color: $primary-theme-2;
            }
            .title {
                font-family: $great_vibes;
                color: $secondary-theme-2;
            }
            .subtitle2 {
                font-family: $playfair;
                color: $secondary-theme-2;
            }
            .filter{
                filter: $secondary-filter-theme-2;
            }
            :deep(.box) {
                box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
                background-color: rgba(white, 0.5);
            }
        }
    }
}

// Call for theme-1
@include themable(theme-1, $theme-1);

// Call for theme-2
@include themable(theme-2, $theme-2);
