@import '../variables';
@import '../theme/theme-1';
@import '../theme/theme-2';
@import '../theme/theme-3';
@import '../theme/theme-4';
@import '../theme/theme-5';
// @import '../function';

// Import only what you need from Bulma
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";


// MIXINS
@mixin themable ($theme-name, $theme-map){
    #demo {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    #inner-demo {
    width: 100%;
    height: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
    }
    .low-opacity-bg-image {
        display: grid;
        position: relative;
        isolation: isolate;
        background-size: cover;
        background-position: center;
    }
    .#{$theme-name} {
        @if ($theme-name == theme-1) {
            // .hero {
            //     background-color: $third-theme-1;
            // }
            .button {
                border: 1px solid $secondary-theme-1;
                width: 200px;
                height: 38.23px;
                padding: 9px 38px;
                background-color: #FFFFFF;
                opacity: 0.6;
                
                font-family: $roboto;
                font-size: 12px;
                display: inline-block;
                align-items: center;
                text-align: center;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: $primary-theme-2;
                cursor: pointer;

                bottom: 50px;
            }
            .title {
                font-family: $dancing_script;
                color: $secondary-theme-1;
                text-transform: uppercase;
                text-shadow: 0 0 3px $primary-theme-1, 0 0 5px $primary-theme-1;
            }
            .filter{
                filter: $secondary-filter-theme-1;
            }
        } @else if ($theme-name == theme-2) {
            // .hero {
            //     background-color: $third-theme-2;
            // }
            .button {
                border: 1px solid $secondary-theme-2;
                width: 200px;
                height: 38.23px;
                padding: 9px 38px;
                background-color: #FFFFFF;
                opacity: 0.6;
                
                font-family: $roboto;
                font-size: 12px;
                display: inline-block;
                align-items: center;
                text-align: center;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: $primary-theme-2;
                cursor: pointer;

                bottom: 50px;
            }
            .title {
                font-family: $dancing_script;
                color: $secondary-theme-2;
                text-transform: uppercase;
                text-shadow: 0 0 3px $primary-theme-2, 0 0 5px $primary-theme-2;
            }
            .filter{
                filter: $secondary-filter-theme-2;
            }
        } @else if ($theme-name == theme-3) {
            // .hero {
            //     background-color: $secondary-theme-3;
            // }
            .button {
                border: 1px solid $secondary-theme-3;
                width: 200px;
                height: 38.23px;
                padding: 9px 38px;
                background-color: #FFFFFF;
                opacity: 0.6;
                
                font-family: $roboto;
                font-size: 12px;
                display: inline-block;
                align-items: center;
                text-align: center;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: $primary-theme-2;
                cursor: pointer;

                bottom: 50px;
            }
            .title {
                font-family: $dancing_script;
                color: $third-theme-3;
                text-transform: uppercase;
                text-shadow: 0 0 3px $fourth-theme-3, 0 0 5px $fourth-theme-3;
            }
            .filter{
                filter: $secondary-filter-theme-2;
            }
        } @else if ($theme-name == theme-4) {
            // .hero {
            //     background-color: $secondary-theme-3;
            // }
            .button {
                border: 1px solid $secondary-theme-4;
                width: 200px;
                height: 38.23px;
                padding: 9px 38px;
                background-color: #FFFFFF;
                opacity: 0.6;
                
                font-family: $roboto;
                font-size: 12px;
                display: inline-block;
                align-items: center;
                text-align: center;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: $primary-theme-4;
                cursor: pointer;

                bottom: 50px;
            }
            .title {
                font-family: $dancing_script;
                color: $secondary-theme-4;
                text-transform: uppercase;
                text-shadow: 0 0 3px $primary-theme-4, 0 0 5px $primary-theme-4;
            }
            .filter{
                filter: $secondary-filter-theme-4;
            }
        } @else if ($theme-name == theme-5) {
            // .hero {
            //     background-color: $secondary-theme-3;
            // }
            .button {
                border: 1px solid $secondary-theme-5;
                width: 200px;
                height: 38.23px;
                padding: 9px 38px;
                background-color: #FFFFFF;
                opacity: 0.6;
                
                font-family: $roboto;
                font-size: 12px;
                display: inline-block;
                align-items: center;
                text-align: center;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: $primary-theme-5;
                cursor: pointer;

                bottom: 50px;
            }
            .title {
                font-family: $dancing_script;
                color: $secondary-theme-5;
                text-transform: uppercase;
                text-shadow: 0 0 3px $primary-theme-5, 0 0 5px $primary-theme-5;
            }
            .filter{
                filter: $secondary-filter-theme-5;
            }
        }
    }
}


// Call for theme-1
@include themable(theme-1, $theme-1);

// Call for theme-2
@include themable(theme-2, $theme-2);

// Call for theme-3
@include themable(theme-3, $theme-3);

// Call for theme-4
@include themable(theme-4, $theme-4);

// Call for theme-5
@include themable(theme-5, $theme-5);
