@import '../variables';
@import '../theme/theme-1';
@import '../theme/theme-2';
@import '../theme/theme-3';
@import '../theme/theme-4';
@import '../theme/theme-5';
@import '../theme/theme-6';
@import '../theme/theme-7';
@import '../theme/theme-8';
@import '../theme/theme-9';
@import '../theme/theme-10';
@import '../theme/theme-11';
@import '../theme/theme-12';
// @import '../function';

// Import only what you need from Bulma
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";


// MIXINS
@mixin themable ($theme-name, $theme-map){
    #demo {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    #inner-demo {
    width: 100%;
    height: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
    }
    .low-opacity-bg-image {
        display: grid;
        position: relative;
        isolation: isolate;
        background-size: cover;
        background-position: center;
    }
    .#{$theme-name} {
        @if ($theme-name == theme-1) {
            // .hero {
            //     background-color: $third-theme-1;
            // }
            .button {
                width: 150px;
                height: 35px;
                background-color: #FFFFFF;
                opacity: 0.6;
                
                font-family: $roboto;
                font-size: 12px;
                display: inline-block;
                align-items: center;
                text-align: center;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #000;
                cursor: pointer;

                bottom: 50px;
            }
            .title {
                font-family: $dancing_script;
            }
            .filter{
                filter: $fourth-filter-theme-1;
            }
            .low-opacity-bg-image::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: 0.4;
                background: $primary-theme-3;
            }
        } @else if ($theme-name == theme-2) {
            // .hero {
            //     background-color: $third-theme-2;
            // }
            .button {
                width: 150px;
                height: 35px;
                background-color: #FFFFFF;
                opacity: 0.6;
                
                font-family: $roboto;
                font-size: 12px;
                display: inline-block;
                align-items: center;
                text-align: center;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #000;
                cursor: pointer;

                bottom: 50px;
            }
            .title {
                font-family: $dancing_script;
            }
            .filter{
                filter: $fourth-filter-theme-1;
            }
            .low-opacity-bg-image::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: 0.4;
                background: $primary-theme-3;
            }
        } @else if ($theme-name == theme-3) {
            // .hero {
            //     background-color: $secondary-theme-3;
            // }
            .button {
                width: 150px;
                height: 35px;
                background-color: #FFFFFF;
                opacity: 0.6;
                
                font-family: $roboto;
                font-size: 12px;
                display: inline-block;
                align-items: center;
                text-align: center;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #000;
                cursor: pointer;

                bottom: 50px;
            }
            .title {
                font-family: $dancing_script;
            }
            .filter{
                filter: $fourth-filter-theme-1;
            }
            .low-opacity-bg-image::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: 0.4;
                background: $primary-theme-3;
            }
        } @else if ($theme-name == theme-4) {
            // .hero {
            //     background-color: $secondary-theme-3;
            // }
            .button {
                border: 1px solid $secondary-theme-4;
                width: 150px;
                height: 35px;
                background-color: #FFFFFF;
                opacity: 0.6;
                
                font-family: $roboto;
                font-size: 12px;
                display: inline-block;
                align-items: center;
                text-align: center;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #000;
                cursor: pointer;

                bottom: 50px;
            }
            .title {
                font-family: $dancing_script;
            }
            .filter{
                filter: $fourth-filter-theme-1;
            }
            .low-opacity-bg-image::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: 0.4;
                background: $primary-theme-3;
            }
        } @else if ($theme-name == theme-5) {
            // .hero {
            //     background-color: $secondary-theme-3;
            // }
            .button {
                // border: 1px solid $secondary-theme-5;
                width: 150px;
                height: 35px;
                background-color: #FFFFFF;
                opacity: 0.6;
                
                font-family: $roboto;
                font-size: 12px;
                display: inline-block;
                align-items: center;
                text-align: center;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #000;
                cursor: pointer;

                bottom: 50px;
            }
            .title {
                font-family: $dancing_script;
            }
            .filter{
                filter: $fourth-filter-theme-1;
            }
            .low-opacity-bg-image::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: 0.4;
                background: $primary-theme-3;
            }
        } @else if ($theme-name == theme-6) {
            // .hero {
            //     background-color: $secondary-theme-3;
            // }
            .button {
                // border: 1px solid $secondary-theme-5;
                width: 150px;
                height: 35px;
                background-color: #FFFFFF;
                opacity: 0.6;
                
                font-family: $roboto;
                font-size: 12px;
                display: inline-block;
                align-items: center;
                text-align: center;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #000;
                cursor: pointer;

                bottom: 50px;
            }
            .title {
                font-family: $dancing_script;
            }
            .low-opacity-bg-image::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: 0.4;
                background: $primary-theme-3;
            }
        } @else if ($theme-name == theme-7) {
            // .hero {
            //     background-color: $secondary-theme-3;
            // }
            .button {
                // border: 1px solid $secondary-theme-5;
                width: 150px;
                height: 35px;
                background-color: #FFFFFF;
                opacity: 0.6;
                
                font-family: $roboto;
                font-size: 12px;
                display: inline-block;
                align-items: center;
                text-align: center;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #000;
                cursor: pointer;

                bottom: 50px;
            }
            .title {
                font-family: $theme7font;
                font-weight: bold;
            }
            .low-opacity-bg-image::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: 0.4;
                background: $primary-theme-3;
            }
        } @else if ($theme-name == theme-8) {
            // .hero {
            //     background-color: $secondary-theme-3;
            // }
            .button {
                // border: 1px solid $secondary-theme-5;
                width: 150px;
                height: 35px;
                background-color: #FFFFFF;
                opacity: 0.6;
                
                font-family: $roboto;
                font-size: 12px;
                display: inline-block;
                align-items: center;
                text-align: center;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #000;
                cursor: pointer;

                bottom: 50px;
            }
            .title {
                font-family: $theme7font;
                font-weight: bold;
            }
            .low-opacity-bg-image::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: 0.9;
                background: $primary-theme-8;
            }
        } @else if ($theme-name == theme-9) {
            // .hero {
            //     background-color: $secondary-theme-3;
            // }
            .button {
                // border: 1px solid $secondary-theme-5;
                width: 150px;
                height: 35px;
                background-color: #FFFFFF;
                opacity: 0.6;
                
                font-family: $roboto;
                font-size: 12px;
                display: inline-block;
                align-items: center;
                text-align: center;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #000;
                cursor: pointer;

                bottom: 50px;
            }
            .title {
                font-family: $theme9font;
                font-weight: bold;
            }
            .low-opacity-bg-image::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: 0.6;
                background: #000;
            }
        } @else if ($theme-name == theme-10) {
            // .hero {
            //     background-color: $secondary-theme-3;
            // }
            .button {
                // border: 1px solid $secondary-theme-5;
                width: 150px;
                height: 35px;
                background-color: #FFFFFF;
                opacity: 0.6;
                
                font-family: $roboto;
                font-size: 12px;
                display: inline-block;
                align-items: center;
                text-align: center;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #000;
                cursor: pointer;

                bottom: 50px;
            }
            .title {
                font-family: $theme10font2;
            }
            .subtitle {
                font-family: $theme10font1 !important;
            }
            .low-opacity-bg-image::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: 0.6;
                background: #000;
            }
        } @else if ($theme-name == theme-11) {
            // .hero {
            //     background-color: $secondary-theme-3;
            // }
            .button {
                // border: 1px solid $secondary-theme-5;
                width: 150px;
                height: 35px;
                background-color: #FFFFFF;
                opacity: 0.6;
                
                font-family: $roboto;
                font-size: 12px;
                display: inline-block;
                align-items: center;
                text-align: center;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #000;
                cursor: pointer;

                bottom: 50px;
            }
            .title {
                font-family: $theme11font1;
            }
            .subtitle {
                font-family: $theme11font1 !important;
            }
            .low-opacity-bg-image::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: 0.6;
                background: #000;
            }
        } @else if ($theme-name == theme-12) {
            // .hero {
            //     background-color: $secondary-theme-3;
            // }
            .button {
                // border: 1px solid $secondary-theme-5;
                width: 150px;
                height: 35px;
                background-color: #FFFFFF;
                opacity: 0.6;
                
                font-family: $roboto;
                font-size: 12px;
                display: inline-block;
                align-items: center;
                text-align: center;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #000;
                cursor: pointer;

                bottom: 50px;
            }
            .title {
                font-family: $theme7font;
                font-weight: bold;
            }
            .low-opacity-bg-image::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: 0.4;
                background: $primary-theme-3;
            }
        }
    }
}


// Call for theme-1
@include themable(theme-1, $theme-1);

// Call for theme-2
@include themable(theme-2, $theme-2);

// Call for theme-3
@include themable(theme-3, $theme-3);

// Call for theme-4
@include themable(theme-4, $theme-4);

// Call for theme-5
@include themable(theme-5, $theme-5);

// Call for theme-6
@include themable(theme-6, $theme-6);

// Call for theme-7
@include themable(theme-7, $theme-7);

// Call for theme-8
@include themable(theme-8, $theme-8);

// Call for theme-9
@include themable(theme-9, $theme-9);

// Call for theme-10
@include themable(theme-10, $theme-10);

// Call for theme-11
@include themable(theme-11, $theme-11);

// Call for theme-12
@include themable(theme-12, $theme-12);