@import '../variables';
@import '../theme/theme-1';
@import '../theme/theme-2';
@import '../theme/theme-3';
@import '../theme/theme-4';
@import '../theme/theme-5';
@import '../theme/theme-6';
@import '../theme/theme-7';
@import '../theme/theme-8';
@import '../theme/theme-9';
@import '../theme/theme-10';

// Import only what you need from Bulma
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";

// MIXINS
@mixin themable ($theme-name, $theme-map){
    .#{$theme-name} {
        @if ($theme-name == theme-1) {
            .hero {
                background-color: $fourth-theme-1;
            }
            .title {
                font-family: $dancing_script;
                color: $secondary-theme-1;
            }
            .subtitle-2 , :deep(.subtitle-2) {
                font-family: $roboto;
                color: $secondary-theme-1;
            }
            .subtitle-3 {
                font-family: $roboto;
                color: $third-theme-1;
            }
            .filter{
                filter: $secondary-filter-theme-1;
            }
        } @else if ($theme-name == theme-2) {
            .hero {
                background-color: $fourth-theme-2;
            }
            .title {
                font-family: $great_vibes;
                color: $secondary-theme-2;
            }
            .subtitle-2 , :deep(.subtitle-2) {
                font-family: $playfair;
                color: $secondary-theme-2;
            }
            .subtitle-3 {
                font-family: $playfair;
                color: $third-theme-2;
            }
            .filter{
                filter: $secondary-filter-theme-2;
            }
        } @else if ($theme-name == theme-3) {
            .hero {
                background-color: $primary-theme-3;
            }
            .title {
                font-family: $great_vibes;
                color: $secondary-theme-3;
            }
            .subtitle-2 , :deep(.subtitle-2) {
                font-family: $playfair;
                color: $secondary-theme-3;
            }
            .subtitle-3 {
                font-family: $playfair;
                color: $third-theme-3;
            }
            .filter{
                filter: $secondary-filter-theme-3;
            }
        } @else if ($theme-name == theme-4) {
            .hero {
                background-color: $primary-theme-4;
            }
            .title {
                font-family: $great_vibes;
                color: $secondary-theme-4;
            }
            .subtitle-2 , :deep(.subtitle-2) {
                font-family: $playfair;
                color: $secondary-theme-4;
            }
            .subtitle-3 {
                font-family: $playfair;
                color: $third-theme-4;
            }
            .filter{
                filter: $secondary-filter-theme-4;
            }
        } @else if ($theme-name == theme-5) {
            .hero {
                // background-color: $primary-theme-5;
            }
            .title {
                font-family: $great_vibes;
                color: $secondary-theme-5;
            }
            .subtitle-2 , :deep(.subtitle-2) {
                font-family: $playfair;
                color: $secondary-theme-5;
            }
            .subtitle-3 {
                font-family: $playfair;
                color: $primary-theme-5;
            }
            .filter{
                filter: $secondary-filter-theme-5;
            }
        } @else if ($theme-name == theme-6) {
            .hero {
                background-color: $primary-theme-6;
            }
            .title {
                font-family: $quicksand;
                color: $third-theme-6;
            }
            .subtitle-2 , :deep(.subtitle-2) {
                font-family: $quicksand;
                color: $third-theme-6;
            }
            .subtitle-3 {
                font-family: $quicksand;
                color: $third-theme-6;
            }
        } @else if ($theme-name == theme-7) {
            .hero {
                background-color: $secondary-theme-7;
            }
            .title {
                font-family: $quicksand;
                color: $primary-theme-7;
            }
            .subtitle-2 , :deep(.subtitle-2) {
                font-family: $quicksand;
                color: $primary-theme-7;
            }
            .subtitle-3 {
                font-family: $quicksand;
                color: $primary-theme-7;
            }
        } @else if ($theme-name == theme-8) {
            .hero {
                background-color: $primary-theme-8;
            }
            .title {
                font-family: $quicksand;
                color: #FFF;
            }
            .subtitle-2 , :deep(.subtitle-2) {
                font-family: $quicksand;
                color: #FFF;
            }
            .subtitle-3 {
                font-family: $quicksand;
                color: #FFF;
            }
        } @else if ($theme-name == theme-9) {
            .hero {
                background-size: 50px 100px,
                                 100px 50px;
                background-image: linear-gradient(0deg, rgba(#7A7A7A, .4) 25%, transparent 26%, transparent 75%, rgba(#7A7A7A, .4) 76%, rgba(#7A7A7A, .4)),
                                  linear-gradient(90deg, rgba(#7A7A7A, .2) 25%, transparent 26%, transparent 75%, rgba(#7A7A7A, .2) 76%, rgba(#7A7A7A, .2) 25%);
            }
            .title {
                font-family: $quicksand;
                color: $primary-theme-9;
            }
            .subtitle-2 , :deep(.subtitle-2) {
                font-family: $quicksand;
                color: $primary-theme-9;
            }
            .subtitle-3 {
                font-family: $quicksand;
                color: $primary-theme-9;
            }
            :deep(.image) {
                border: 3px solid #FFF;
            }
        } @else if ($theme-name == theme-10) {
            .hero {
                background-color: #FFF;
            }
            .title {
                font-family: $theme10font2;
                color: $secondary-theme-10;
            }
            .subtitle-3 {
                font-family: $theme10font3;
                color: secondary-theme-10;
            }
        }
    }
}

// Call for theme-1
@include themable(theme-1, $theme-1);

// Call for theme-2
@include themable(theme-2, $theme-2);

// Call for theme-3
@include themable(theme-3, $theme-3);

// Call for theme-4
@include themable(theme-4, $theme-4);

// Call for theme-5
@include themable(theme-5, $theme-5);

// Call for theme-6
@include themable(theme-6, $theme-6);

// Call for theme-7
@include themable(theme-7, $theme-7);

// Call for theme-8
@include themable(theme-8, $theme-8);

// Call for theme-9
@include themable(theme-9, $theme-9);

// Call for theme-10
@include themable(theme-10, $theme-10);