@import '../variables';
@import '../theme/theme-1';
@import '../theme/theme-2';
@import '../theme/theme-3';
@import '../theme/theme-4';
@import '../theme/theme-5';
@import '../theme/theme-6';
@import '../theme/theme-7';
@import '../theme/theme-8';
@import '../theme/theme-9';
@import '../theme/theme-10';
@import '../theme/theme-11';
@import '../theme/theme-12';

// Import only what you need from Bulma
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";

// MIXINS
@mixin themable ($theme-name, $theme-map){
    .low-opacity-bg-image {
        display: grid;
        position: relative;
        isolation: isolate;
        background-size: cover;
        background-position: center;
    }
    .#{$theme-name} {
        @if ($theme-name == theme-1) {
            // .hero {
            //     background-color: $primary-theme-1;
            // }
            .icon {
                color: $secondary-theme-1;
            }
            .notification {
                background-color: rgba($secondary-theme-1, 0.2);
            }
            .button {
                border: 1px solid $secondary-theme-1;
            }
            .title2 {
                font-family: $dancing_script;
                color: $secondary-theme-1;
            }
            .subtitle2 {
                font-family: $roboto;
                color: $secondary-theme-1;
            }
            .subtitle3 {
                font-family: $roboto;
                color: $third-theme-1;
            }
            .filter{
                filter: $secondary-filter-theme-1;
            }
        } @else if ($theme-name == theme-2) {
            .hero {
                background-color: $primary-theme-2;
            }
            .icon {
                color: $secondary-theme-2;
            }
            .notification {
                background-color: rgba($secondary-theme-2, 0.2);
            }
            .ornament{
                position: absolute;
                left: 0; 
                right: 0; 
                margin-left: auto; 
                margin-right: auto; 
                padding-bottom: 10%; 
                padding-top: 50px; 
                width: 300px;
                height: 800px;
                filter: $third-filter-theme-2;
                opacity: 0.1;
            }
            .button {
                border: 1px solid $secondary-theme-2;
            }
            .title2 {
                font-family: $great_vibes;
                color: $secondary-theme-2;
            }
            .subtitle2 {
                font-family: $playfair;
                color: $secondary-theme-2;
            }
            .subtitle3 {
                font-family: $playfair;
                color: $third-theme-2;
            }
            .filter{
                filter: $secondary-filter-theme-2;
            }
        } @else if ($theme-name == theme-3) {
            .hero {
                background-color: $primary-theme-3;
            }
            .icon {
                color: $secondary-theme-3;
            }
            .notification {
                background-color: rgba($secondary-theme-3, 0.2);
            }
            .ornament{
                position: absolute;
                left: 0; 
                right: 0; 
                margin-left: auto; 
                margin-right: auto; 
                padding-bottom: 10%; 
                padding-top: 50px; 
                width: 300px;
                height: 800px;
                filter: $third-filter-theme-3;
                opacity: 0.0;
            }
            .button {
                border: 1px solid $secondary-theme-3;
            }
            .title2 {
                font-family: $great_vibes;
                color: $third-theme-3;
            }
            .subtitle2 {
                font-family: $playfair;
                color: $secondary-theme-3;
            }
            .subtitle3 {
                font-family: $playfair;
                color: $secondary-theme-3;
            }
            .filter{
                filter: $third-filter-theme-3;
            }
        } @else if ($theme-name == theme-4) {
            .hero {
                background-color: $primary-theme-4;
            }
            .icon {
                color: $secondary-theme-4;
            }
            .notification {
                background-color: rgba($secondary-theme-4, 0.2);
            }
            .ornament{
                position: absolute;
                left: 0; 
                right: 0; 
                margin-left: auto; 
                margin-right: auto; 
                padding-bottom: 10%; 
                padding-top: 50px; 
                width: 300px;
                height: 800px;
                filter: $third-filter-theme-4;
                opacity: 0.0;
            }
            .button {
                border: 1px solid $secondary-theme-4;
            }
            .title2 {
                font-family: $great_vibes;
                color: $secondary-theme-4;
            }
            .subtitle2 {
                font-family: $playfair;
                color: $third-theme-4;
            }
            .subtitle3 {
                font-family: $playfair;
                color: $third-theme-4;
            }
            .filter{
                filter: $third-filter-theme-4;
            }
        } @else if ($theme-name == theme-5) {
            // .hero {
            //     background-color: $primary-theme-5;
            // }
            .icon {
                color: $secondary-theme-5;
            }
            .notification {
                background-color: rgba($secondary-theme-5, 0.2);
            }
            .ornament{
                position: absolute;
                left: 0; 
                right: 0; 
                margin-left: auto; 
                margin-right: auto; 
                padding-bottom: 10%; 
                padding-top: 50px; 
                width: 300px;
                height: 800px;
                filter: $third-filter-theme-5;
                opacity: 0.0;
            }
            .button {
                border: 1px solid $secondary-theme-5;
            }
            .title2 {
                font-family: $great_vibes;
                color: $secondary-theme-5;
            }
            .subtitle2 {
                font-family: $playfair;
                color: $secondary-theme-5;
            }
            .subtitle3 {
                font-family: $playfair;
                color: $secondary-theme-5;
            }
            .filter{
                filter: $secondary-filter-theme-5;
            }
            .low-opacity-bg-image {
                display: grid;
                position: relative;
                isolation: isolate;
                background-size: cover;
                background-position: center;
            }
        } @else if ($theme-name == theme-6) {
            .hero {
                background-color: $primary-theme-6;
            }
            .notification {
                background-color: $secondary-theme-6
            }
            .title2 {
                font-family: $quicksand;
                color: $third-theme-6;
            }
            .subtitle2 {
                font-family: $quicksand;
                color: $third-theme-6;
            }
            .subtitle3 {
                font-family: $quicksand;
                color: #000;
            }
            :deep(.iframe) {
                border: 5px solid $third-theme-6; 
                border-radius: 4px;
            }
            :deep(.button) {
                border: 1px solid $third-theme-6;
                background-color: $third-theme-6;
                font-family: $quicksand;
                font-size: 15px;
                font-weight: bold;
                color: $primary-theme-6;
            }
        } @else if ($theme-name == theme-7) {
            .hero {
                background-color: #000;
                :deep(.hero) {
                    background-color: #FFF;
                }
            }
            .notification {
                background-color: $secondary-theme-7;
            }
            .title2 {
                font-family: $quicksand;
                color: #FFF;
            }
            .subtitle2 {
                font-family: $quicksand;
                color: #000;
            }
            .subtitle3 {
                font-family: $quicksand;
                color: #FFF;
            }
            :deep(.iframe) {
                border: 5px solid $primary-theme-7; 
                border-radius: 4px;
            }
            :deep(.button) {
                border: 1px solid $primary-theme-7;
                background-color: $primary-theme-7;
                font-family: $quicksand;
                font-size: 15px;
                font-weight: bold;
                color: $secondary-theme-7;
            }
            .low-opacity-bg-image {
                display: grid;
                position: relative;
                isolation: isolate;
                background-size: cover;
                background-position: center;
            }
            .low-opacity-bg-image::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: 0.8;
                background: $primary-theme-3;
            }
        } @else if ($theme-name == theme-8) {
            .hero {
                background-color: $primary-theme-8;
                :deep(.hero) {
                    background-color: $primary-theme-8;
                }
            }
            :deep(.notification2) {
                background-color: $primary-theme-8;
                .subtitle-4, p, radio{
                    color: #FFF;
                }
                border:solid 1px #FFF;
            }
            .title2 {
                font-family: $quicksand;
                color: $secondary-theme-8;
            }
            .subtitle2 {
                font-family: $quicksand;
                color: #FFF;
            }
            .subtitle3 {
                font-family: $quicksand;
                color: #FFF;
            }
            :deep(.iframe) {
                border: 5px solid $primary-theme-8; 
                border-radius: 4px;
            }
            :deep(.button) {
                border: 1px solid #FFF;
                background-color: transparent;
                font-family: $quicksand;
                font-size: 15px;
                font-weight: bold;
                color: #FFF;
            }
            .low-opacity-bg-image {
                display: grid;
                position: relative;
                isolation: isolate;
                background-size: cover;
                background-position: center;
            }
            .low-opacity-bg-image::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: 0.8;
                background: $primary-theme-3;
            }
        }@else if ($theme-name == theme-9) {
            .hero {
                background-color: $primary-theme-9;
            }
            .notification {
                background-color: #FFF;
            }
            .title2 {
                font-family: $quicksand;
                color: $primary-theme-9;
            }
            .subtitle2 {
                font-family: $quicksand;
                color: #FFF;
            }
            .subtitle3 {
                font-family: $quicksand;
                color: $primary-theme-9;
            }
            :deep(.subtitle-3) {
                font-family: $quicksand;
                color: #FFF !important;
            }
            :deep(.iframe) {
                border: 5px solid $primary-theme-9; 
                border-radius: 4px;
            }
            .button {
                border: 1px solid $primary-theme-9;
                background-color: transparent;
                font-family: $quicksand;
                font-size: 15px;
                font-weight: bold;
                color: $primary-theme-9;
                .button {
                    border: 1px solid #FFF;
                    background-color: transparent;
                    font-family: $quicksand;
                    font-size: 15px;
                    font-weight: bold;
                    color: #FFF;
                }
            }
        }@else if ($theme-name == theme-10) {
            .hero {
                background-color: #FFF;
            }
            .title {
                font-family: $theme10font2;
                color: #FFF;
            }
            :deep(.notification2) {
                background-color: $primary-theme-10;
                .subtitle-4, p, radio{
                    color: #FFF;
                }
                border:solid 1px #FFF;
            }
            :deep(.iframe) {
                border: 5px solid $primary-theme-10; 
                border-radius: 4px;
            }
            .title2 {
                font-family: $theme10font2;
                color: $primary-theme-10;
                font-weight: bold;
            }
            .subtitle3 {
                font-family: $theme10font3;
                color: $secondary-theme-10;
                font-weight: bold;
            }
            .low-opacity-bg-image {
                display: grid;
                position: relative;
                isolation: isolate;
                background-size: cover;
                background-position: center;
            }
            .low-opacity-bg-image::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: 0.7;
                background: #FFF;
            }
            .low-opacity-bg-image-2 {
                display: grid;
                position: relative;
                isolation: isolate;
                background-size: cover;
                background-position: center;
            }
            .low-opacity-bg-image-2::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: 0.3;
                background: #000;
            }
            .button {
                border: 1px solid $primary-theme-10;
                background-color: $primary-theme-10;
                font-family: $quicksand;
                font-size: 15px;
                font-weight: bold;
                color: #FFF;
            }
            :deep(.subtitle-5) {
                font-family: $theme10font1;
                color: #FFF;
                font-weight: bold;
            }
            .custom-shape-divider-top-1676040590 {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                overflow: hidden;
                line-height: 0;
            }
            
            .custom-shape-divider-top-1676040590 svg {
                position: relative;
                display: block;
                width: calc(100% + 1.3px);
                height: 11px;
            }
            
            .custom-shape-divider-top-1676040590 .shape-fill {
                fill: #FFFFFF;
            }
            .custom-shape-divider-bottom-1676040656 {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                overflow: hidden;
                line-height: 0;
                transform: rotate(180deg);
            }
            
            .custom-shape-divider-bottom-1676040656 svg {
                position: relative;
                display: block;
                width: calc(100% + 1.3px);
                height: 11px;
            }
            
            .custom-shape-divider-bottom-1676040656 .shape-fill {
                fill: #FFFFFF;
            }
        } @else if ($theme-name == theme-11) {
            .hero {
                background-color: $primary-theme-11;
            }
            .box {
                background-color: transparent;
                box-shadow: none;
            }
            // .notification {
            //     background-color: transparent;
            // }
            .icon {
                color: $secondary-theme-11;
            }
            .title2 {
                font-family: $theme11font1;
                color: $secondary-theme-11;
                font-weight: bold;
            }
            .subtitle2 {
                font-family: $theme11font2;
                color: $secondary-theme-11;
                font-weight: bold;
            }
            .subtitle3 {
                font-family: $theme11font2;
                color: #000;
                font-weight: bold;
            }
            :deep(.iframe) {
                border: 5px solid $secondary-theme-11; 
                border-radius: 4px;
            }
            :deep(.button) {
                border: 1px solid $secondary-theme-11;
                background-color: $secondary-theme-11;
                font-family: $quicksand;
                font-size: 15px;
                font-weight: bold;
                color: #FFF;
            }
            .low-opacity-bg-image {
                display: grid;
                position: relative;
                isolation: isolate;
                background-size: cover;
                background-position: center;
            }
            .low-opacity-bg-image::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: 0.6;
                background: $primary-theme-11;
            }
            .line {
                background-color: $secondary-theme-11;
                color: $secondary-theme-11;
            }
        } @else if ($theme-name == theme-12) {
            .hero {
                background-color: $primary-theme-12;
            }
            .title2 {
                font-family: $forum;
                color: $secondary-theme-12;
            }
            .subtitle2 {
                font-family: $forum;
                color: #000;
            }
            .subtitle3 {
                font-family: $forum;
                color: $secondary-theme-12;
            }
            .button {
                border: 1px solid $secondary-theme-12;
                background-color: transparent;
                font-family: $forum;
                font-size: 15px;
                font-weight: bold;
                color: $secondary-theme-12;
            }
        } 
    }
}

// Call for theme-1
@include themable(theme-1, $theme-1);

// Call for theme-2
@include themable(theme-2, $theme-2);

// Call for theme-3
@include themable(theme-3, $theme-3);

// Call for theme-4
@include themable(theme-4, $theme-4);

// Call for theme-5
@include themable(theme-5, $theme-5);

// Call for theme-6
@include themable(theme-6, $theme-6);

// Call for theme-7
@include themable(theme-7, $theme-7);

// Call for theme-8
@include themable(theme-8, $theme-8);

// Call for theme-9
@include themable(theme-9, $theme-9);

// Call for theme-10
@include themable(theme-10, $theme-10);

// Call for theme-11
@include themable(theme-11, $theme-11);

// Call for theme-12
@include themable(theme-12, $theme-12);