@import '../variables';
@import '../theme/theme-1';
@import '../theme/theme-2';
@import '../theme/theme-3';
@import '../theme/theme-4';
@import '../theme/theme-5';
@import '../theme/theme-6';
@import '../theme/theme-7';
@import '../theme/theme-8';
@import '../theme/theme-9';
@import '../theme/theme-10';
@import '../theme/theme-11';

// Import only what you need from Bulma
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";

// MIXINS
@mixin themable ($theme-name, $theme-map){
    .#{$theme-name} {
        @if ($theme-name == theme-1) {
            .hero {
                background-color: $fourth-theme-1;
            }
            .title {
                font-family: $dancing_script;
                color: $secondary-theme-1;
            }
            .subtitle {
                font-family: $roboto;
                color: $third-theme-1;
            }
            .notification {
                background-color: rgba($secondary-theme-1, 0.0);
                border: 3px dashed $secondary-theme-1;
            }
        } @else if ($theme-name == theme-2) {
            .hero {
                background-color: $primary-theme-2;
            }
            .title {
                font-family: $great_vibes;
                color: $secondary-theme-2;
            }
            .subtitle {
                font-family: $playfair;
                color: $third-theme-2;
            }
            .notification {
                background-color: rgba($secondary-theme-2, 0.2);
            }
        } @else if ($theme-name == theme-3) {
            .hero {
                background-color: $primary-theme-3;
            }
            .title {
                font-family: $great_vibes;
                color: $secondary-theme-3;
            }
            .subtitle {
                font-family: $playfair;
                color: $third-theme-3;
            }
            .notification {
                background-color: rgba($primary-theme-3, 0.2);
                border: 3px dashed $secondary-theme-3;
            }
        } @else if ($theme-name == theme-4) {
            .hero {
                background-color: $primary-theme-4;
            }
            .title {
                font-family: $great_vibes;
                color: $secondary-theme-4;
            }
            .subtitle {
                font-family: $playfair;
                color: $third-theme-4;
            }
            .notification {
                background-color: rgba($primary-theme-4, 0.2);
                border: 3px dashed $secondary-theme-4;
            }
        } @else if ($theme-name == theme-5) {
            .hero {
                background-color: $primary-theme-5;
            }
            .title {
                font-family: $great_vibes;
                color: $secondary-theme-5;
            }
            .subtitle {
                font-family: $playfair;
                color: $third-theme-5;
            }
            .notification {
                background-color: rgba($primary-theme-5, 0.2);
                border: 3px dashed $secondary-theme-5;
            }
        } @else if ($theme-name == theme-6) {
            .hero {
                background-color: $secondary-theme-6;
            }
            .title {
                font-family: $quicksand;
                color: $primary-theme-6;
            }
            .subtitle {
                font-family: $quicksand;
                color: $third-theme-6;
            }
        } @else if ($theme-name == theme-7) {
            .hero {
                background-color: $secondary-theme-7;
            }
            .title {
                font-family: $quicksand;
                color: $primary-theme-7;
            }
            .subtitle {
                font-family: $quicksand;
                color: $primary-theme-7;
            }
        } @else if ($theme-name == theme-8) {
            .hero {
                background-color: $primary-theme-8;
            }
            .title {
                font-family: $quicksand;
                color: $secondary-theme-8;
            }
            .subtitle {
                font-family: $quicksand;
                color: $secondary-theme-8;
            }
        } @else if ($theme-name == theme-9) {
            .hero {
                background-color: $primary-theme-9;
            }
            .title {
                font-family: $quicksand;
                color: #FFF;
            }
            .subtitle {
                font-family: $quicksand;
                color: #FFF;
            }
        } @else if ($theme-name == theme-10) {
            .hero {
                background-color: $primary-theme-10;
            }
            .title {
                font-family: $theme10font3;
                color: #FFF;
            }
            .subtitle {
                font-family: $theme10font3;
                color: #FFF;
            }
        } @else if ($theme-name == theme-11) {
            .hero {
                background-color: $secondary-theme-11;
            }
            .title {
                font-family: $theme11font2;
                color: $primary-theme-11;
            }
            .subtitle {
                font-family: $theme11font2;
                color: $primary-theme-11;
            }
            .custom-shape-divider-top-1677268119 {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                overflow: hidden;
                line-height: 0;
            }
            
            .custom-shape-divider-top-1677268119 svg {
                position: relative;
                display: block;
                width: calc(100% + 1.3px);
                height: 28px;
            }
            
            .custom-shape-divider-top-1677268119 .shape-fill {
                fill: $primary-theme-11;
            }
        }
    }
}

// Call for theme-1
@include themable(theme-1, $theme-1);

// Call for theme-2
@include themable(theme-2, $theme-2);

// Call for theme-3
@include themable(theme-3, $theme-3);

// Call for theme-4
@include themable(theme-4, $theme-4);

// Call for theme-5
@include themable(theme-5, $theme-5);

// Call for theme-6
@include themable(theme-6, $theme-6);

// Call for theme-7
@include themable(theme-7, $theme-7);

// Call for theme-8
@include themable(theme-8, $theme-8);

// Call for theme-9
@include themable(theme-9, $theme-9);

// Call for theme-10
@include themable(theme-10, $theme-10);

// Call for theme-11
@include themable(theme-11, $theme-11);

