@import '../variables';
@import '../theme/theme-1';
@import '../theme/theme-2';
@import '../theme/theme-3';

// Import only what you need from Bulma
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";

// MIXINS
@mixin themable ($theme-name, $theme-map){
    .#{$theme-name} {
        @if ($theme-name == theme-1) {
            .hero {
                background-color: $fourth-theme-1;
            }
            .title {
                font-family: $dancing_script;
                color: $secondary-theme-1;
            }
            .subtitle {
                font-family: $roboto;
                color: $third-theme-1;
            }
            .notification {
                background-color: rgba($secondary-theme-1, 0.2);
            }
        } @else if ($theme-name == theme-2) {
            .hero {
                background-color: $primary-theme-2;
            }
            .title {
                font-family: $great_vibes;
                color: $secondary-theme-2;
            }
            .subtitle {
                font-family: $playfair;
                color: $third-theme-2;
            }
            .notification {
                background-color: rgba($secondary-theme-2, 0.2);
            }
        } @else if ($theme-name == theme-3) {
            .hero {
                background-color: $primary-theme-3;
            }
            .title {
                font-family: $great_vibes;
                color: $secondary-theme-3;
            }
            .subtitle {
                font-family: $playfair;
                color: $third-theme-3;
            }
            .notification {
                background-color: rgba($primary-theme-3, 0.2);
                border: 3px dashed $secondary-theme-3;
            }
        }
    }
}

// Call for theme-1
@include themable(theme-1, $theme-1);

// Call for theme-2
@include themable(theme-2, $theme-2);

// Call for theme-3
@include themable(theme-3, $theme-3);
