@import '../variables';
@import '../theme/theme-1';
@import '../theme/theme-2';
@import '../theme/theme-3';
@import '../theme/theme-4';
@import '../theme/theme-5';
@import '../theme/theme-6';
@import '../theme/theme-7';
@import '../theme/theme-8';

// Import only what you need from Bulma
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";

// MIXINS
@mixin themable ($theme-name, $theme-map){
    .swiper-slide {
        background: none;
    }
    .box {
        background: rgba(white, 0.4);
    }
    .#{$theme-name} {
        @if ($theme-name == theme-1) {
            .hero {
                background-color: $primary-theme-1;
            }
            .title {
                font-family: $dancing_script;
                color: $secondary-theme-1;
            }
            .subtitle2 {
                font-family: $roboto;
                color: $fourth-theme-1;
            }
            .subtitle3 {
                font-family: $roboto;
                color: $third-theme-1;
            }
            .filter{
                filter: $fourth-filter-theme-1;
            }
        } @else if ($theme-name == theme-2) {
            .hero {
                background-color: $primary-theme-2;
            }
            .title {
                font-family: $great_vibes;
                color: $secondary-theme-2;
            }
            .subtitle2 {
                font-family: $playfair;
                color: $secondary-theme-2 !important;
            }
            .subtitle3 {
                font-family: $playfair;
                color: $secondary-theme-2 !important;
            }
            .filter{
                filter: $secondary-filter-theme-2;
            }
            .box {
                background: rgba($secondary-theme-2, 0.4);
            }
        } @else if ($theme-name == theme-3) {
            .hero {
                background-color: $primary-theme-3;
            }
            .title {
                font-family: $great_vibes;
                color: $secondary-theme-3;
            }
            .subtitle2 {
                font-family: $playfair;
                color: $secondary-theme-3 !important;
            }
            .subtitle3 {
                font-family: $playfair;
                color: $third-theme-3 !important;
            }
            .filter{
                filter: $secondary-filter-theme-3;
            }
            .box {
                background: rgba($secondary-theme-3, 0.4);
            }
        } @else if ($theme-name == theme-4) {
            .hero {
                background-color: $primary-theme-4;
            }
            .title {
                font-family: $great_vibes;
                color: $secondary-theme-4;
            }
            .subtitle2 {
                font-family: $playfair;
                color: $secondary-theme-4 !important;
            }
            .subtitle3 {
                font-family: $playfair;
                color: $third-theme-4 !important;
            }
            .filter{
                filter: $secondary-filter-theme-4;
            }
            .box {
                background: rgba($third-theme-4, 0.4);
            }
        } @else if ($theme-name == theme-5) {
            .hero {
                background-color: $primary-theme-5;
            }
            .title {
                font-family: $great_vibes;
                color: $secondary-theme-5;
            }
            .subtitle2 {
                font-family: $playfair;
                color: $secondary-theme-5 !important;
            }
            .subtitle3 {
                font-family: $playfair;
                color: $third-theme-5 !important;
            }
            .filter{
                filter: $secondary-filter-theme-5;
            }
            .box {
                background: rgba($third-theme-5, 0.4);
            }
        } @else if ($theme-name == theme-6) {
            .hero {
                background-color: $secondary-theme-6;
            }
            .subtitle2 {
                font-family: $quicksand;
                color: $third-theme-6;
                font-weight: bold;
            }
            .subtitle3 {
                font-family: $quicksand;
                color: #000 !important;
            }
            .box {
                background: $primary-theme-6;
            }
        } @else if ($theme-name == theme-7) {
            .hero {
                background: $primary-theme-7
            }
            .subtitle2 {
                font-family: $quicksand;
                color: $secondary-theme-7;
                font-weight: bold;
            }
            .subtitle3 {
                font-family: $quicksand;
                color: $secondary-theme-7 !important;
            }
            .box {
                background-color: rgba($secondary-theme-7, 0);
                padding: 10px;
                border-radius: 5%;
                border: 3px dashed $secondary-theme-7;
            }
        } @else if ($theme-name == theme-8) {
            .hero {
                // background: $primary-theme-8
            }
            .subtitle2 {
                font-family: $quicksand;
                color: #FFF;
                font-weight: bold;
            }
            .subtitle3 {
                font-family: $quicksand;
                color: #FFF !important;
            }
            .column {
                background-color: transparent !important;
                padding: 10px;
                border-bottom: 1px solid $secondary-theme-8;
            }
            .low-opacity-bg-image {
                display: grid;
                position: relative;
                isolation: isolate;
                background-size: cover;
                background-position: center;
                background-attachment: fixed;
                object-fit: cover;
            }
            .low-opacity-bg-image::after {
                content: '';
                position: absolute;
                z-index: -1;
                inset: 0;
                opacity: 0.9;
                background: $primary-theme-8;
            }
        }
    }
}

// Call for theme-1
@include themable(theme-1, $theme-1);

// Call for theme-2
@include themable(theme-2, $theme-2);

// Call for theme-3
@include themable(theme-3, $theme-3);

// Call for theme-4
@include themable(theme-4, $theme-4);

// Call for theme-5
@include themable(theme-5, $theme-5);

// Call for theme-6
@include themable(theme-6, $theme-6);

// Call for theme-7
@include themable(theme-7, $theme-7);

// Call for theme-8
@include themable(theme-8, $theme-8);
