@import '../variables';
@import '../theme/theme-1';
@import '../theme/theme-2';
@import '../theme/theme-3';
@import '../theme/theme-4';
@import '../theme/theme-5';

// Import only what you need from Bulma
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";

// MIXINS
@mixin themable ($theme-name, $theme-map){
    .low-opacity-bg-image {
        display: grid;
        position: relative;
        isolation: isolate;
        background-size: cover;
        background-position: center;
    }
    .#{$theme-name} {
        @if ($theme-name == theme-1) {
            :deep(.notification2) {
                background-color: rgba($secondary-theme-1, 0.2);
            }
            :deep(.iframe) {
                border: 5px solid $secondary-theme-1; 
                border-radius: 4px;
            }
            :deep(.button) {
                border: 1px solid $secondary-theme-1;
                background-color: rgba(#FFFFFF, 0.5);
            }
            .hero {
                background-color: $primary-theme-1;
                // background-image: $backg;
            }
            .title {
                font-family: $dancing_script;
                color: $secondary-theme-1;
            }
            .subtitle-2 , :deep(.subtitle-3){
                font-family: $roboto;
                color: $fourth-theme-1;
            }
            :deep(.subtitle-4), :deep(.subtitle-5) {
                font-family: $roboto;
                color: $third-theme-1;
            }
            :deep(.button-2) {
                border: 1px solid $primary-theme-1;
                width: 215px;
                height: 38.23px;
                
                font-family: $roboto;
                font-size: 12px;
                display: inline-block;
                align-items: center;
                text-align: center;

                text-transform: uppercase;
                cursor: pointer;

                bottom: 50px;
                
                background-color: rgba(#FFFFFF, 0.5);
            }
            .filter{
                filter: $fourth-filter-theme-1;
            }
        } @else if ($theme-name == theme-2) {
            :deep(.notification2) {
                background-color: rgba($fifth-theme-2, 0.5);
            }
            :deep(.iframe) {
                border: 5px solid $primary-theme-2; 
                border-radius: 4px;
            }
            :deep(.button) {
                border: 1px solid $secondary-theme-2;
            }
            .hero {
                // background-color: $fourth-theme-2;
                // background-image: url("../assets/contents/border.png")
            }
            .title {
                font-family: $great_vibes;
                color: $secondary-theme-2;
            }
            .subtitle-2 , :deep(.subtitle-3) {
                font-family: $playfair;
                color: $fourth-theme-2;
            }
            :deep(.button-2) {
                border: 1px solid $secondary-theme-2;
                width: 215px;
                height: 38.23px;
                background-color: #FFFFFF;
                
                font-family: $roboto;
                font-size: 12px;
                display: inline-block;
                align-items: center;
                text-align: center;

                text-transform: uppercase;
                cursor: pointer;

                bottom: 50px;
                
                box-shadow: 4px 4px 0 2px white, 4px 4px 0 3px $secondary-theme-2;
            }
            .filter{
                filter: $fourth-filter-theme-2;
            }
        } @else if ($theme-name == theme-3) {
            :deep(.notification2) {
                background-color: rgba($secondary-theme-3, 0.5);
            }
            :deep(.iframe) {
                border: 5px solid $secondary-theme-3; 
                border-radius: 4px;
            }
            :deep(.button) {
                border: 1px solid $secondary-theme-3;
            }
            .hero {
                background-color: $primary-theme-3;
                // background-image: url("../assets/contents/border.png")
            }
            .title {
                font-family: $great_vibes;
                color: $secondary-theme-3;
            }
            .subtitle-2 , :deep(.subtitle-3), :deep(.subtitle-5) {
                font-family: $playfair;
                color: $secondary-theme-3;
            }
            :deep(.subtitle-4) {
                font-family: $playfair;
                color: $third-theme-3;
            }
            :deep(.button-2) {
                border: 1px solid $secondary-theme-3;
                width: 215px;
                height: 38.23px;
                background-color: #FFFFFF;
                
                font-family: $roboto;
                font-size: 12px;
                display: inline-block;
                align-items: center;
                text-align: center;

                text-transform: uppercase;
                cursor: pointer;

                bottom: 50px;
                
                box-shadow: 4px 4px 0 2px white, 4px 4px 0 3px $secondary-theme-3;
            }
            .filter{
                filter: $secondary-filter-theme-3;
            }
        } @else if ($theme-name == theme-4) {
            :deep(.notification2) {
                background-color: rgba($fourth-theme-4, 0.5);
            }
            :deep(.iframe) {
                border: 5px solid $secondary-theme-4; 
                border-radius: 4px;
            }
            :deep(.button) {
                border: 1px solid $secondary-theme-4;
            }
            .hero {
                background-color: $primary-theme-4;
                // background-image: url("../assets/contents/border.png")
            }
            .title {
                font-family: $great_vibes;
                color: $secondary-theme-4;
            }
            .subtitle-2 , :deep(.subtitle-3), :deep(.subtitle-5) {
                font-family: $playfair;
                color: $secondary-theme-4;
            }
            :deep(.subtitle-4) {
                font-family: $playfair;
                color: $secondary-theme-4;
            }
            :deep(.button-2) {
                border: 1px solid $secondary-theme-4;
                width: 215px;
                height: 38.23px;
                background-color: #FFFFFF;
                
                font-family: $roboto;
                font-size: 12px;
                display: inline-block;
                align-items: center;
                text-align: center;

                text-transform: uppercase;
                cursor: pointer;

                bottom: 50px;
                
                box-shadow: 4px 4px 0 2px white, 4px 4px 0 3px $secondary-theme-4;
            }
            .filter{
                filter: $secondary-filter-theme-4;
            }
        } @else if ($theme-name == theme-5) {
            :deep(.notification2) {
                background-color: rgba($third-theme-5, 0.5);
            }
            :deep(.iframe) {
                border: 5px solid $secondary-theme-5; 
                border-radius: 4px;
            }
            :deep(.button) {
                border: 1px solid $secondary-theme-5;
            }
            .hero {
                background-color: $primary-theme-5;
                // background-image: url("../assets/contents/border.png")
            }
            .title {
                font-family: $great_vibes;
                color: $secondary-theme-5;
            }
            .subtitle-2 , :deep(.subtitle-3), :deep(.subtitle-5) {
                font-family: $playfair;
                color: $secondary-theme-5;
            }
            :deep(.subtitle-4) {
                font-family: $playfair;
                color: $secondary-theme-5;
            }
            :deep(.button-2) {
                border: 1px solid $secondary-theme-5;
                width: 215px;
                height: 38.23px;
                background-color: #FFFFFF;
                
                font-family: $roboto;
                font-size: 12px;
                display: inline-block;
                align-items: center;
                text-align: center;

                text-transform: uppercase;
                cursor: pointer;

                bottom: 50px;
                
                box-shadow: 4px 4px 0 2px white, 4px 4px 0 3px $secondary-theme-5;
            }
            .filter{
                filter: $secondary-filter-theme-5;
            }
        }
    }
}

// Call for theme-1
@include themable(theme-1, $theme-1);

// Call for theme-2
@include themable(theme-2, $theme-2);

// Call for theme-3
@include themable(theme-3, $theme-3);

// Call for theme-4
@include themable(theme-4, $theme-4);

// Call for theme-5
@include themable(theme-5, $theme-5);