// THEME-1
$theme-1: (
   maincover: (
        font: (
            "title": $parisienne, 
            "subtitle": $im_fell_english
        ),
        hero: (
            "mobile": url("../assets/contents/background/pink_minimalist_2.png"),
            "tablet": url("../assets/contents/background/pink_minimalist_3.png"),
            "desktop": url("../assets/contents/background/pink_minimalist.png")
        ),
   ),
);